<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ThymeleafCommonLayout}">
<head>
<title>Pattern Create</title>
<script defer th:src="@{/vendors/liverty-admin/js/select2.js}"></script>
<script defer type="text/javascript">

    function fnSave() {
        let url = "/v1/api/admin/pattern";
        var params = $("#baseForm").serializeObject();
        PromiseUtil.post(url, params)
        .then(JSON.parse)
        .then(function(d){
        });
    }

</script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12">
                                <h2>PATTERN CREATE</h2>
                                <div class="separator-2"></div>
                                <form id="baseForm">
                                    <div class="form-group">
                                        <label for="codeValue">URI Pattern</label> <input type="text" class="form-control" name="uriPattern" id="uriPattern">
                                    </div>
                                    <div class="form-group">
                                        <label for="tbMappPatternAuth.method">Methods</label> <select id="tbMappPatternAuths.method" name="tbMappPatternAuths.method" class="js-example-basic-multiple" multiple="multiple" style="width: 100%">
                                            <option th:each="reqMethod : ${reqMethods}" th:value="${reqMethod.codeValue}" th:text="${reqMethod.codeName}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="tbComAuths.authId">Allowed to</label> <select id="tbComAuths" name="tbComAuths.authId" class="js-example-basic-multiple" multiple="multiple" style="width: 100%">
                                            <option th:each="auth : ${authList}" th:value="${auth.authId}" th:text="|[${auth.authCode}] ${auth.authName}|"></option>
                                        </select>
                                    </div>
                                </form>

                                <div class="container-fluid w-100">
                                    <a href="javascript:void(0);" class="btn btn-success float-right mt-4 ml-2" onclick="fnSave()">Save</a> <a href="/admin/pattern/viewmain" class="btn btn-secondary float-right mt-4">List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
