<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ThymeleafCommonLayout}">
<head>
<title>Auth List</title>
<script defer th:src="@{/vendors/isotope/isotope.pkgd.min.js}"></script>
<script defer type="text/javascript">
    $(function() {
        //fnRetrievePattern();
    	fnCreatePatternTable();
    });
    var fnRetrievePattern = function() {
        let url = "/v1/api/admin/pattern";
        PromiseUtil.get(url)
        .then(JSON.parse)
        .then(function(d){
            if ($.fn.DataTable.isDataTable('#pattern-table')) {
                $('#pattern-table').DataTable().destroy();
            }
            fnCreatePatternTable(d.data.content)
        });
    }

    var fnCreatePatternTable = function(data) {
        $('#pattern-table').DataTable(
                {
                	"processing": true,
                    "serverSide": true,
                    "ajax": "/v1/api/admin/pattern/datatable",
                    data : data,
                    "columns" : [ {
                        "data" : "uriPattern"
                    }, {
                        "data" : "patternId"
                    }, {
                        "data" : "patternId"
                    }, {
                        "data" : "createDatetime"
                    } ],
                    order : [ [ 0, 'asc' ] ],
                    columnDefs : [ {
                        targets : [ 3 ],
                        width : 80,
                        className : 'text-center'
                    } ],
                    searching : false,
                    createdRow : function(row, data, index) {
                        var tbComAuthNames = [];
                        for (var i = 0 ; i < data["tbComAuths"].length ; i++) {
                            tbComAuthNames.push(data["tbComAuths"][i]["authCode"]);
                        }

                        var tbMappPatternAuthMethods = [];
                        for (var i = 0 ; i < data["tbMappPatternAuths"].length ; i++) {
                            tbMappPatternAuthMethods.push(data["tbMappPatternAuths"][i]["id"]["method"]);
                        }
                        $('td', row).eq(0).html('').append(
                                '<a class="dt-alink" href="/admin/pattern/viewupdate/'+data["patternId"]+'">'
                                + data["uriPattern"] + '</a>');


                        $('td', row).eq(1).html('').append(
                                tbMappPatternAuthMethods.join(", "));

                        $('td', row).eq(2).html('').append(
                                tbComAuthNames.join(", "));

                        $('td', row).eq(3).html('').append(
                                data["createDatetime"]);
                    }
                });
    }
</script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <h2>PATTERN LIST</h2>
                                    <a href="/admin/pattern/viewcreate" class="btn btn-sm btn-outline-info btn-fw mt-3"><i class="fa fa-plus-circle pr-2"></i>Create</a>
                                </div>
                                <div class="separator-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12 table-responsive">
                                <table id="pattern-table" class="display table table-hover table-condensed" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>URI Pattern</th>
                                            <th>Method</th>
                                            <th>Allowed to</th>
                                            <th>Created at</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
