<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block layout:fragment="topnavigation">
    <nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
            <div class="container d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-top">
                    <a class="navbar-brand brand-logo" href="/main">
                        <img th:src="@{/vendors/liverty-admin/images/logo-inverse.svg}" alt="logo" />
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="/main">
                        <img th:src="@{/vendors/liverty-admin/images/logo-mini.svg}" alt="logo" />
                    </a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center">
                    <ul class="navbar-nav navbar-nav-right ml-auto mr-0">
                        <th:block th:if="${isMember} == true">
                        <li class="nav-item dropdown ml-4">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i><span class="count bg-warning">4</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                <a class="dropdown-item py-3">
                                    <p class="mb-0 font-weight-medium float-left">You have 4 new notifications</p>
                                    <span class="badge badge-pill badge-inverse-info float-right">View all</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-inverse-success">
                                            <i class="fa fa-exclamation mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                                        <p class="font-weight-light small-text mb-0">Just now</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-inverse-warning">
                                            <i class="fa fa-comment-o mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                                        <p class="font-weight-light small-text mb-0">Private message
                                        </p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-inverse-info">
                                            <i class="fa fa-envelope-o mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                                        <p class="font-weight-light small-text mb-0">2 days ago
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                <img class="img-xs rounded-circle" src="https://placehold.it/100x100" alt="Profile image">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                                <a class="dropdown-item p-0">
                                    <div class="d-flex border-bottom w-100">
                                        <div class="py-3 px-4 d-flex align-items-center justify-content-center flex-grow-1">
                                            <i class="fa fa-bookmark-o mr-0 text-gray"></i>
                                        </div>
                                        <div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right flex-grow-1">
                                            <i class="fa fa-user-o mr-0 text-gray"></i>
                                        </div>
                                        <div class="py-3 px-4 d-flex align-items-center justify-content-center flex-grow-1">
                                            <i class="fa fa-clock-o mr-0 text-gray"></i>
                                        </div>
                                    </div>
                                </a>
                                <a th:href="@{/blog/viewcreate}" class="dropdown-item mt-2"> Write Blog </a>
                                <a class="dropdown-item"> Manage Accounts </a>
                                <a class="dropdown-item"> Change Password </a>
                                <a class="dropdown-item"> Check Inbox </a>
                                <a href="/logout" class="dropdown-item"> Sign Out </a>
                            </div>
                        </li>
                        </th:block>
                        <th:block th:if="${isMember} == false">
                        <li class="nav-item ml-4">
                            <a href="/login/f" type="button" class="btn btn-outline-secondary" style="color:rgba(0, 0, 0, 0.5);">Login</a>
                        </li>
                        </th:block>
                    </ul>
                    <button class="navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </div>
            <div class="nav-bottom">
                <div class="container">
                    <ul class="nav page-navigation">
                        <li class="nav-item" th:each="serviceMenuLv1 : ${serviceMenuList}">
                            <a th:href="${serviceMenuLv1.menuPath}" class="nav-link">
                                <span class="menu-title" th:text="${serviceMenuLv1.menuName}"></span>
                            </a>
                        </li>
                        <li class="nav-item" th:each="systemMenuLv1 : ${systemMenuList}" th:classappend="${systemMenuLv1.child} ? mega-menu : ''">
                            <a th:href="${systemMenuLv1.menuPath}" class="nav-link">
                                <span class="menu-title" th:text="${systemMenuLv1.menuName}"></span>
                                <i class="menu-arrow" th:if="${systemMenuLv1.child}"></i>
                            </a>
                            <div class="submenu" th:if="${systemMenuLv1.child}">
                            	<div class="col-group-wrapper row">
                            		<div class="col-group col-2" th:each="systemMenuLv2 : ${systemMenuLv1.child}">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="category-heading" th:text="${systemMenuLv2.menuName}"></p>
                                            </div>
                                            <div class="col-12">
                                                <ul class="submenu-item">
                                                    <li class="nav-item" th:each="systemMenuLv3 : ${systemMenuLv2.child}"><a class="nav-link" th:href="${systemMenuLv3.menuPath}" th:text="${systemMenuLv3.menuName}"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                            		</div>
                            	</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </th:block>
</body>
</html>