<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block layout:fragment="footer">
    <footer class="footer">
        <div class="container-fluid clearfix">
        	<div class="text-center ml-auto">
        		<a href="/policy/privacy">Privacy Policy</a>
        	</div>
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 <a href="https://fourtysix.karljeong.com" target="_blank">KarlJeong</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">For KOR-MYS Couples</span>
        </div>
    </footer>
    </th:block>
</body>
</html>