<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"></meta>
<meta charset="UTF-8"></meta>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">FourtySix-Hundred</title>

<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Favicon START -->
<link rel="shortcut icon" th:href="@{/vendors/liverty-admin/images/favicon.png}">
<!-- Favicon END -->

<!-- COMMON CSS START -->
<!-- '@{}' meaning => append context path -->
<link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
<link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">

<link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
<link rel="stylesheet" th:href="@{/vendors/iconfonts/font-awesome/css/font-awesome.min.css}">

<link rel="stylesheet" th:href="@{/vendors/liverty-admin/css/style.css}">
<link rel="stylesheet" th:href="@{/vendors/liverty-admin/css/custom-style.css}">
<link rel="stylesheet" th:href="@{/vendors/liverty-admin/css/custom-separator.css}">
<!-- COMMON CSS END -->

<!-- COMMON JS START -->
<script th:src="@{/vendors/jquery/3.4.1/jquery.min.js}"></script>
<script defer th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script defer th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<!-- COMMON JS END -->

<!-- PLUGIN JS START -->
<script defer th:src="@{/vendors/isotope/imagesloaded.pkgd.min.js}"></script>
<script defer th:src="@{/vendors/isotope/isotope.pkgd.min.js}"></script>
<script defer th:src="@{/vendors/liverty-admin/js/owl-carousel.js}"></script>
<script defer th:src="@{/vendors/liverty-admin/js/template.js}"></script>
<!-- PLUGIN JS END -->

<script defer th:src="@{/js/common.js}"></script>
<script defer th:src="@{/js/ajax.util.js}"></script>
<script defer th:src="@{/js/datatable.util.js}"></script>

</head>

<body>

    <div class="container-scroller">
        <!-- START TOP NAVIGATOR -->
        <nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
            <div class="container d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-top">
                    <a class="navbar-brand brand-logo" href="index.html">
                        <img th:src="@{/vendors/liverty-admin/images/logo-inverse.svg}" alt="logo"/>
                    </a>
                    <a class="navbar-brand brand-logo-mini" href="index.html">
                        <img th:src="@{/vendors/liverty-admin/images/logo-mini.svg}" alt="logo"/>
                    </a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center">
                    <ul class="navbar-nav navbar-nav-right ml-auto mr-0">
                        <li class="nav-item dropdown ml-4"><a
                            class="nav-link count-indicator dropdown-toggle"
                            id="notificationDropdown" href="#" data-toggle="dropdown"> <i
                                class="fa fa-bell-o"></i> <span class="count bg-warning">4</span>
                        </a>
                            <div
                                class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="notificationDropdown">
                                <a class="dropdown-item py-3">
                                    <p class="mb-0 font-weight-medium float-left">You have 4 new
                                        notifications</p> <span
                                    class="badge badge-pill badge-inverse-info float-right">View
                                        all</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-inverse-success">
                                            <i class="fa fa-exclamation mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6
                                            class="preview-subject font-weight-normal text-dark mb-1">Application
                                            Error</h6>
                                        <p class="font-weight-light small-text mb-0">Just now</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-inverse-warning">
                                            <i class="fa fa-comment-o mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6
                                            class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                                        <p class="font-weight-light small-text mb-0">Private
                                            message</p>
                                    </div>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-inverse-info">
                                            <i class="fa fa-envelope-o mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6
                                            class="preview-subject font-weight-normal text-dark mb-1">New
                                            user registration</h6>
                                        <p class="font-weight-light small-text mb-0">2 days ago
                                        </p>
                                    </div>
                                </a>
                            </div></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle"
                            id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                <img class="img-xs rounded-circle"
                                src="https://placehold.it/100x100" alt="Profile image">
                        </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                aria-labelledby="UserDropdown">
                                <a class="dropdown-item p-0">
                                    <div class="d-flex border-bottom w-100">
                                        <div
                                            class="py-3 px-4 d-flex align-items-center justify-content-center flex-grow-1">
                                            <i class="fa fa-bookmark-o mr-0 text-gray"></i>
                                        </div>
                                        <div
                                            class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right flex-grow-1">
                                            <i class="fa fa-user-o mr-0 text-gray"></i>
                                        </div>
                                        <div
                                            class="py-3 px-4 d-flex align-items-center justify-content-center flex-grow-1">
                                            <i class="fa fa-clock-o mr-0 text-gray"></i>
                                        </div>
                                    </div>
                                </a> <a href="diaryC.html" class="dropdown-item mt-2"> Write Diary </a>
                                <a class="dropdown-item"> Manage Accounts </a> <a
                                    class="dropdown-item"> Change Password </a> <a
                                    class="dropdown-item"> Check Inbox </a> <a class="dropdown-item">
                                    Sign Out </a>
                            </div></li>
                    </ul>
                    <button class="navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="fa fa-bars"></span>
                    </button>
                </div>
            </div>
            <div class="nav-bottom">
                <div class="container">
                    <ul class="nav page-navigation">
                        <li class="nav-item"><a href="diary.html" class="nav-link"><i
                                class="link-icon fa fa-television"></i><span class="menu-title">DIARY</span></a>
                        </li>
                        <li class="nav-item"><a href="pages/widgets.html" class="nav-link"><i
                                class="link-icon fa fa-safari"></i><span class="menu-title">WIDGETS</span></a>
                        </li>
                        <li class="nav-item mega-menu"><a href="#" class="nav-link"><i
                                class="link-icon fa fa-html5"></i><span class="menu-title">ADMIN</span><i class="menu-arrow"></i></a>
                            <div class="submenu">
                                <div class="col-group-wrapper row">
                                    <div class="col-group col-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="category-heading">Board Management</p>
                                            </div>
                                            <div class="col-12">
                                                <ul class="submenu-item">
                                                <li class="nav-item"><a class="nav-link"
                                                        href="#">Category</a></li>
                                                    <li class="nav-item"><a class="nav-link"
                                                        href="#">Common Board</a></li>
                                                    <li class="nav-item"><a class="nav-link"
                                                        href="#">Common Article</a></li>
                                                    <li class="nav-item"><a class="nav-link"
                                                        href="#">Service Board</a></li>
                                                    <li class="nav-item"><a class="nav-link"
                                                        href="#">Service Article</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-group col-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="category-heading">Code Management</p>
                                            </div>
                                            <div class="col-12">
                                                <ul class="submenu-item">
                                                    <li class="nav-item"><a class="nav-link"
                                                        href="/admin/codegroup/viewmain">Code Group</a></li>
                                                    <li class="nav-item"><a class="nav-link"
                                                        href="/admin/code/viewmain">Code</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-group col-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="category-heading">Menu Management</p>
                                            </div>
                                            <div class="col-12">
                                                <ul class="submenu-item">
                                                    <li class="nav-item"><a class="nav-link"
                                                        href="#">Menu</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-group col-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="category-heading">Authority Management</p>
                                            </div>
                                            <div class="col-12">
                                                <ul class="submenu-item">
                                                    <li class="nav-item"><a class="nav-link"
                                                        href="#">Authority</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-group col-2">
                                        <div class="row">
                                            <div class="col-12">
                                                <p class="category-heading">User Management</p>
                                            </div>
                                            <div class="col-12">
                                                <ul class="submenu-item">
                                                    <li class="nav-item"><a class="nav-link"
                                                        href="#">User</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END TOP NAVIGATOR -->

        <!-- START CONTENTS -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <!-- START PAGE-CONTENTS -->
                <div class="content-wrapper">
                    <th:block layout:fragment="content"></th:block>
                </div>
                <!-- END PAGE-CONTENTS -->

                <!-- START FOOTER -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright
                            © 2018 <a href="http://www.urbanui.com/" target="_blank">Urbanui</a>.
                            All rights reserved.
                        </span> <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted
                            & made with</span>
                    </div>
                </footer>
                <!-- END FOOTER -->
            </div>
        </div>
        <!-- END CONTENTS -->
    </div>

</body>

</html>