<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">

<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8"></meta>
<meta charset="UTF-8"></meta>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">FourtySix-Hundred</title>

<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Favicon START -->
<link rel="shortcut icon" th:href="@{/vendors/liverty-admin/images/favicon.png}">
<!-- Favicon END -->

<!-- COMMON CSS START -->
<!-- '@{}' meaning => append context path -->
<link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}">
<link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}">

<link rel="stylesheet" th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}">
<link rel="stylesheet" th:href="@{/vendors/iconfonts/font-awesome/css/font-awesome.min.css}">

<link rel="stylesheet" th:href="@{/vendors/liverty-admin/css/style.css}">
<link rel="stylesheet" th:href="@{/vendors/liverty-admin/css/custom-style.css}">
<link rel="stylesheet" th:href="@{/vendors/liverty-admin/css/custom-separator.css}">
<!-- COMMON CSS END -->

<!-- COMMON JS START -->
<script th:src="@{/vendors/jquery/3.4.1/jquery.min.js}"></script>
<script defer th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
<script defer th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
<!-- COMMON JS END -->

<!-- PLUGIN JS START -->
<script defer th:src="@{/vendors/isotope/imagesloaded.pkgd.min.js}"></script>
<script defer th:src="@{/vendors/isotope/isotope.pkgd.min.js}"></script>
<script defer th:src="@{/vendors/liverty-admin/js/owl-carousel.js}"></script>
<script defer th:src="@{/vendors/liverty-admin/js/template.js}"></script>
<script defer th:src="@{/vendors/moment/moment.js}"></script>
<!-- PLUGIN JS END -->

<script defer th:src="@{/js/common.js}"></script>
<script defer th:src="@{/js/modal.js}"></script>
<script defer th:src="@{/js/ajax.util.js}"></script>
<script defer th:src="@{/js/datatable.util.js}"></script>

</head>

<body>

    <div class="container-scroller">
        <!-- START TOP NAVIGATOR -->
        <th:block layout:insert="~{layout/ThymeleafTopNavLayout :: topnavigation}"></th:block>
        <!-- END TOP NAVIGATOR -->

        <!-- START CONTENTS -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <!-- START PAGE-CONTENTS -->
                <div class="content-wrapper">
                    <th:block layout:fragment="content"></th:block>
                </div>
                <!-- END PAGE-CONTENTS -->

                <!-- START FOOTER -->
                <th:block layout:insert="~{layout/ThymeleafFooterLayout :: footer}"></th:block>
                <!-- END FOOTER -->
            </div>
        </div>
        <!-- END CONTENTS -->
    </div>

</body>

</html>