<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ThymeleafCommonLayout}">

<head>
    <title>Privacy Policy</title>
    <script defer th:src="@{/vendors/isotope/imagesloaded.pkgd.min.js}"></script>
    <script defer th:src="@{/vendors/isotope/isotope.pkgd.min.js}"></script>
    <script defer th:src="@{/vendors/liverty-admin/js/owl-carousel.js}"></script>
    <script defer th:src="@{/vendors/liverty-admin/js/template.js}"></script>
</head>

<body>
	<th:block layout:fragment="content">
	<div class=" container-scroller">
		<div class="container-fluid page-body-wrapper">
			<div class="main-panel w-100">
				<div class="content-wrapper documentation">
					<div class="container">
						<div class="row">
							<div class="col-12 mb-4">
								<h1 class="text-primary mt-4">PRIVACY POLICY</h1>
							</div>
							<div class="col-12 grid-margin">
								<div class="card">
									<div class="card-body">
										<h4 class="card-title text-primary">FOURTYSIX-HUNDRED</h4>
										<p>** Provided to assist with the management of online shopping malls, this sample template may require amendments depending on the type of business. Before applying the following content to your shopping mall, check the management details of your mall and use and apply with discretion. **</p>

<p>
FOURTYSIX-HUNDRED Corporation (herein after referred to as “the Company”) regards the privacy of users as highly important and complies with all regulations concerning the “Act on Protection of Information and Promotion of Utilization of Information and Communications Network.”<br>
By stating its privacy policy as shown below, the Company hereby informs users of the purpose and use of personal information provided by the user to the Company, and the measures taken for the protection of their personal information.<br>
</p>
<p>
■ Personal information collected and the means of collection<br>
&nbsp;&nbsp;&nbsp;&nbsp;A. Information we collect<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• The Company collects the following data for the purpose of membership sign-ups, consultations, and service applications.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o When signing up for membership: Name, birthday, gender, ID, e-mail, legal representative information for subscribers under the age of 14.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o When applying for services: Community<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Information collected through use of online services or the processing process: use record, access log, cookies, connecting IP information, payment record, unruly use, and others.<br>
</p>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;B. Means of collecting personal information<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Personal information is collected through the website, facebook API, letter, message boards, e-mail, event entries, delivery request forms, phone, fax, and generated data collection tool.<br>
</p>
<p>
■ Purpose of collection and use of personal information<br>
&nbsp;&nbsp;&nbsp;&nbsp;The Company collects personal information for the following purposes and use.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Provision of services obligated by fulfillment of contract and the payment that follows<br>
&nbsp;&nbsp;&nbsp;&nbsp;Supply content, user verifications.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Member management<br>
&nbsp;&nbsp;&nbsp;&nbsp;Identify user to access members-only services, verify user, prevent unauthorized use, check membership subscription, validate age, confirm consent/agreement from legal representative for users under the age of 14, handle complaints and civil affairs, and deliver notices.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Marketing and promotional use<br>
&nbsp;&nbsp;&nbsp;&nbsp;Delivery of events and unsolicited advertisements; gain a statistical understanding of the members’ frequency of access to and use of site.<br>
</p>
<p>
■ Period of possession and utilization of personal information<br>
&nbsp;&nbsp;&nbsp;&nbsp;The company destroy collected personal information immediately once the purpose of collecting and using personal information is achieved<br>
</p>
<p>
■ Procedures and methods of discarding personal information<br>
&nbsp;&nbsp;&nbsp;&nbsp;As a general rule, once the personal data has fulfilled the purposes for which they were collected, they are immediately discarded. The procedure and method to discard is detailed below.<br>
&nbsp;&nbsp;&nbsp;&nbsp;• Discarding procedure<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Following the cause for information protection according to the internal policies or related statutes, once the personal data has fulfilled the purposes they will be transferred to a separate database(DB) (or filed separately in a folder if in paper form), then it will be discarded after a certain period of time. Personal information that is transferred to a separate DB will not be used for any other purposes except in the case of the law. <br>
&nbsp;&nbsp;&nbsp;&nbsp;• Discarding method<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Use technical method to stop reproduction of personal information saved in electronic form.<br>
</p>
<p>
■ Disclosing personal information<br>
&nbsp;&nbsp;&nbsp;&nbsp;As a general rule, the Company shall not disclose user’s personal information to any external party except for the cases below. <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Prior consent from user<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Following the legislation rule or when law enforcement agencies require such information for investigative purposes during the process as prescribed by the law.<br>
</p>
<p>
■ Consignment of collected personal information<br>
&nbsp;&nbsp;&nbsp;&nbsp;The Company does not consign collected personal information.<br>
</p>
<p>
■ The rights of users and legal representatives and methods of exercising those rights<br>
&nbsp;&nbsp;&nbsp;&nbsp;• The user may view or edit his/her personal information and request to terminate membership at any time.<br>
&nbsp;&nbsp;&nbsp;&nbsp;• To view or edit a user’s personal information, click on ‘Edit Personal Information’ (or ‘Edit Member Information’) and to cancel subscription (terminate membership) click on ‘Terminate Membership.’ Upon clicking, you’ll be directed to an identification process before you can directly access, correct, or cancel membership.<br>
&nbsp;&nbsp;&nbsp;&nbsp;• User may contact the chief privacy officer by letter, telephone or email, and necessary actions will be taken.<br>
&nbsp;&nbsp;&nbsp;&nbsp;• Should a user request corrections on errors of personal information, the Company shall not use or provide any personal information until a correction is made. In addition, if the wrong personal information has already been provided to a third party, the Company shall immediately notify them so that a proper correction can be made.<br>
&nbsp;&nbsp;&nbsp;&nbsp;• If personal information is canceled or deleted upon request of user, the Company will comply with the terms specified under “Period of possession and utilization of personal information,” and prohibit disclosure or use for any other purposes.<br>
</p>
<p>
■ Install, manage and deny operation of device for automatic collection of personal information<br>
&nbsp;&nbsp;&nbsp;&nbsp;The Company uses ‘cookies’ that frequently save and retrieve your information. A cookie is a very small text file that the server, used to operate the Company’s website, sends to your browser. The file is saved in the hard disk of your computer.<br>
&nbsp;&nbsp;&nbsp;&nbsp;The Company uses cookies for the following purposes:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Use and purpose of cookies<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o To analyze the frequencies of a member and non-member’s visit, understand user’s preferences and interests and track user’s footprints, and carry out target marketing and provide customized service by checking level of participation in various events and number of visits.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o You have the right of choice in regards to the installation of cookies. Accordingly, you may allow all cookies by modifying your cookie settings, go through a confirmation process whenever a cookie is saved, or refuse to have all cookies saved.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• Settings to reject establishment of cookies<br>
&nbsp;&nbsp;&nbsp;&nbsp;o To reject establishment of cookies, select options on your web browser and change your settings to allow all cookies, go through a verification process before saving cookies, or reject to save all cookies.<br>
&nbsp;&nbsp;&nbsp;&nbsp;o Example (For Internet Explorer)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Go to ‘Tools’ located on the top of Web Browser > Internet Options > Privacy<br>
&nbsp;&nbsp;&nbsp;&nbsp;o However, there may be certain difficulties in using the services if you reject the installment of cookies.<br>
</p>
<p>
■ Civil services with respect to personal information<br>
&nbsp;&nbsp;&nbsp;&nbsp;To protect your personal information and deal with complaints related to personal information, the Company has appointed the following department and chief privacy officer.<br>
&nbsp;&nbsp;&nbsp;&nbsp;• Principal Privacy Officer<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name: Gyeongsu Jeong<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department: Online<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone Number: 010-3715-3058<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail: behappy0723@gmail.com<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;• Chief Privacy Officer<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Name: Gyeongsu Jeong<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Department: Online<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone Number: 010-3715-3058<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E-mail: behappy0723@gmail.com<br>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;• You may report all complaints related to privacy protection, in using the Company’s service, to the chief privacy officer or the department in charge.<br>
&nbsp;&nbsp;&nbsp;&nbsp;• The Company shall provide prompt and sufficient answers to your report.<br>
&nbsp;&nbsp;&nbsp;&nbsp;• For further consultation or report on other privacy infringements, contact the following the following agencies.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Privacy Rights Violation Complaint Center (privacy.kisa.or.kr / 118)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Cybercrime Investigation Department, Supreme Prosecutor’s Office (www.spo.go.kr / 02-3480-2000)<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o Cyber Bureau, National Police Agency (www.ctrc.go.kr/ 182)<br>
</p>
<p>
■ Duty to notify<br>
&nbsp;&nbsp;&nbsp;&nbsp;The Company shall notify users of any changes to this privacy policy through the website (or through individual notifications). <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;• This privacy policy will be enforced starting 2020-07-07.<br>
</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</th:block>
	<!-- container-scroller -->
</body>

</html>
