<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ThymeleafCommonLayout}">
<head>
<title>General Discussion Forum</title>
<script defer type="text/javascript">
</script>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-1">
                            <div class="col-12">
                                <h4>General Discussion Forum</h4>
                                <div class="separator-2"></div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center py-1">
                            <div class="col-12">
                                <div class="contents-header">
                                    <div class="">
                                        <h5 th:text="${articleInfo.articleTitle}"></h5>
                                    </div>
                                    <div class="d-flex align-items-center article-info py-2">
	                                    <div class="">
	                                        <i class="fa fa-user-circle-o pr-2 text-dark"></i><span class="pr-2" th:text="${articleInfo.articleWriterUserName}"></span>
	                                        <i class="fa fa-clock-o pr-2 text-dark"></i><span class="pr-2" th:text="${#dates.format(articleInfo.articleWriteDatetime, 'yyyy-MM-dd HH:mm:ss')}"></span>
	                                    </div>
	                                    <div class="ml-auto px-1 py-1 d-none d-lg-block d-xl-block">
	                                        <i class="fa fa-eye pr-2 text-dark"></i><span class="pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleViewCount)}"></span>
	                                        <i class="fa fa-heart pr-2 text-danger"></i><span class="pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleLikeCount)}"></span>
	                                        <i class="fa fa-comments-o pr-2 text-dark"></i><span class="pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleReplyCount)}"></span>
	                                    </div>
                                    </div>
                                </div>

                                <div class="separator-2"></div>
                                <div class="contents-body">
                                    <span style="white-space:pre-line;" th:utext="${articleInfo.articleContents}"></span>
                                    <div class="d-flex flex-row align-items-center justify-content-center pt-3">
                                        <a href="#">
                                            <span class="p-3 article-box badge badge-info">
                                                <i class="fa fa-heart-o fa-2x font-weight-bold"></i><br>
                                                <span class="text-white font-weight-bold" style="font-size:0.8rem;" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleLikeCount)}"></span>
                                            </span>
                                        </a>
                                        <a href="#">
                                            <span class="p-3 ml-3 article-box badge badge-success">
                                                <i class="fa fa-comments-o fa-2x font-weight-bold"></i><br>
                                                <span class="text-white font-weight-bold" style="font-size:0.8rem;" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleReplyCount)}"></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="contents-footer pt-5">
                                    <div class="reply-area">
                                        <div class="reply pt-2">
                                          <div class="reply-header container-fluid d-flex justify-content-between">
                                            <span class="font-weight-bold">정경수</span>
                                            <span style="margin-left:auto;">2020-05-13 11:12:32</span>
                                          </div>
                                          <div class="reply-body">
                                            <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
                                          </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <img th:src="@{/vendors/images/reply.png}"></img>
                                            <div class="reply pt-2">
                                              <h4 class="reply-header reply-header-owner">Success</h4>
                                              <div class="reply-body">
                                                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <img th:src="@{/vendors/images/reply.png}" style="padding-left:16px;"></img>
                                            <div class="reply pt-2">
                                              <h4 class="reply-header reply-header-owner">Success</h4>
                                              <div class="reply-body">
                                                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <img th:src="@{/vendors/images/reply.png}" style="padding-left:32px;"></img>
                                            <div class="reply pt-2">
                                              <h4 class="reply-header reply-header-owner">Success</h4>
                                              <div class="reply-body">
                                                <p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


</body>

</html>
