<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ThymeleafCommonLayout}" xmlns:sec="http://www.thymeleaf.org">
<head>
<title>General Discussion Forum</title>
<script defer src="//cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script defer type="text/javascript" th:inline="javascript">


    $(function() {
        fnRetrieveReply(-1);
    });

    function fnRetrieveReply(pageNumber) {
        let url = "/v1/api/b/general/" + /*<![CDATA[*//*[[ ${articleInfo.articleId} ]]*//*]]>*/ + "/reply/" + pageNumber;
        var params = $("#baseForm").serializeObject();
        PromiseUtil.get(url, params)
        .then(JSON.parse)
        .then(function(d){
            fnCreateReplyArea(d.data.replyList);
            fnCreatePaingArea(d.data.paging, d.data.replyList.number);
        });
    }

    function fnCreateReplyArea(rData) {
        var $replArea = $(".reply-area");
        $replArea.empty();
        var writable = /*<![CDATA[*//*[[${#authorization.expression('hasAnyRole(''ROLE_MEMBER'',''ROLE_AUTHOR'',''ROLE_ADMIN'')')} ? ${true} : ${false} ]]*//*]]>*/;
        for (var i = 0 ; i < rData.content.length ; i++) {
            var d = rData.content[i];
            var html = [];
            var isReplyHeaderOwner = /*<![CDATA[*//*[[ ${articleInfo.articleWriterId} ]]*//*]]>*/ === d.replyWriterId ? true : false;
            html.push('<div class="d-flex align-items-center">');
            if (d.replyLevel > 1) {
                html.push('  <img src="/vendors/images/reply.png" style="padding-left:'+12 * (d.replyLevel -1)+'px;"></img>');
            }
            html.push('  <div class="reply pt-2">');
            html.push('    <div class="reply-header ' + (isReplyHeaderOwner ? 'reply-header-owner' : '') + ' container-fluid d-flex justify-content-between">');
            html.push('      <span class="reply-writer font-weight-bold">'+d.replyWriterUserName+'</span>');
            html.push('      <span class="font-weight-bold" style="margin-left:auto;"></span>');
            html.push('      <span class="reply-datetime font-weight-bold text-gray pl-3">'+dateConverterToDateOrDateTime(d.replyWriteDatetime)+'</span>');
            html.push('    </div>');
            html.push('    <div class="reply-body">');
            html.push('      <p>'+d.replyContents+'</p>');
            html.push('    </div>');
            html.push('    <div class="reply-footer text-right pb-2">');
            if (writable){
                html.push('      <button class="btn btn-sm btn-outline-danger btn-reply font-weight-bold reportModalOpener mx-1" onclick="fnCallReportReplyModal(\'Reply\', \'GENERAL\', \''+ /*<![CDATA[*//*[[ ${articleInfo.articleId} ]]*//*]]>*/ +'\', \''+d.replyId+'\')">');
                html.push('      <i class="mdi mdi-alarm-light"></i>Report');
                html.push('      </button>');
                html.push('      <button class="btn btn-sm btn-outline-info btn-reply font-weight-bold" onclick="fnCreatingReplyTextArea(this, \''+d.replyId+'\', \''+d.articleId+'\')">');
                html.push('      <i class="mdi mdi-comment-outline"></i>Reply');
                html.push('      </button>');
                html.push('    </div>');
            }
            html.push('  </div>');
            html.push('</div>');
            $replArea.append(html.join(''));
        }
        $replArea.append('<div class="clearfix"></div>');
    }

    function fnCreatePaingArea(pData, number){
        var html = [];
        html.push('<nav>');
        html.push('  <ul class="pagination rounded-flat d-flex justify-content-center pagination-primary">');
        html.push('    <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>');
        for (var i = 0 ; i < pData.length; i++) {
            html.push('  <li class="page-item '+(pData[i] === number + 1 ? 'active' : '')+' ">');
            html.push('    <a class="page-link" href="javascript:void(0);" onclick="fnRetrieveReply('+(pData[i] -1)+')">'+pData[i]+'</a>');
            html.push('  </li>');
        }
        html.push('    <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>');
        html.push('  </ul>');
        html.push('</nav>');
        html.push('<div class="clearfix"></div>');
        $(".reply-paging-area").html(html.join(''));
    }

    function fnCreatingReplyTextArea(ele, pReplyId, articleId){
        var writable = /*<![CDATA[*//*[[${#authorization.expression('hasAnyRole(''ROLE_MEMBER'',''ROLE_AUTHOR'',''ROLE_ADMIN'')')} ? ${true} : ${false} ]]*//*]]>*/;
        if (!writable) {
            if (confirm("Login Required Service. Do you want to move to login page?")) {
                window.location.href="/login/f";
            }
            return;
        }

        var $replyTextArea = $(ele).parents("div.reply");
        var html = [];
        $(".reply-dynamic-textarea").remove();
        html.push('<div class="reply reply-dynamic-textarea pt-2">');
        html.push('  <div class="reply-header container-fluid d-flex justify-content-between">');
        html.push('    <span class="font-weight-bold">'+/*<![CDATA[*//*[[${#authentication.principal.userName} ]]*//*]]>*/+'</span>');
        html.push('    <span style="margin-left:auto;"></span>');
        html.push('  </div>');
        html.push('  <form id="createDynamicReplyForm">');
        html.push('  <div class="reply-body input-group">');
        html.push('    <input type="hidden" name="priorReplyId" value="'+pReplyId+'"></input>');
        html.push('    <textarea class="form-control col-md-10" name="replyContents" rows="3"></textarea>');
        html.push('    <button onclick="fnReplyDynamic()" class="col-md-2 btn btn-sm btn-outline-info btn-fw"><i class="fa fa-pencil pr-2"></i>Reply</button>');
        html.push('  </div>');
        html.push('  </form>');
        html.push('</div>');
        $replyTextArea.append(html.join(''));
    }

    function fnReply() {
        let url = "/v1/api/b/general/"+/*<![CDATA[*//*[[ ${articleInfo.articleId} ]]*//*]]>*/+"/reply";
        var params = $("#createReplyForm").serializeObject();
        PromiseUtil.post(url, params)
        .then(JSON.parse)
        .then(function(d){
        });
    }

    function fnReplyDynamic() {
        let url = "/v1/api/b/general/"+/*<![CDATA[*//*[[ ${articleInfo.articleId} ]]*//*]]>*/+"/replydynamic";
        var params = $("#createDynamicReplyForm").serializeObject();
        PromiseUtil.post(url, params)
        .then(JSON.parse)
        .then(function(d){
        });
    }

    function fnToggleLike() {
        let url = "/v1/api/b/general/"+/*<![CDATA[*//*[[ ${articleInfo.articleId} ]]*//*]]>*/+"/like/" + (/*<![CDATA[*//*[[ ${articleLike.likeYn} ]]*//*]]>*/ ^ 1);
        PromiseUtil.post(url)
        .then(JSON.parse)
        .then(function(d){
        });
    }

</script>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-1">
                            <div class="col-12">
                                <h4>General Discussion Forum</h4>
                                <div class="separator-2"></div>
                            </div>
                        </div>

                        <div class="d-flex align-items-center py-1">
                            <div class="col-12 px-0">
                                <div class="contents-header">
                                    <div class="">
                                        <h5 th:text="${articleInfo.articleTitle}"></h5>
                                    </div>
                                    <div class="d-flex align-items-center article-info py-2">
                                        <div class="">
                                            <i class="fa fa-user-circle-o pr-2 text-dark"></i><span class="pr-2" th:text="${articleInfo.articleWriterUserName}"></span>
                                            <i class="fa fa-clock-o pr-2 text-dark"></i><span class="pr-2" th:text="${#dates.format(articleInfo.articleWriteDatetime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                        </div>
                                        <div class="ml-auto px-1 py-1 d-none d-lg-block d-xl-block">
                                            <i class="fa fa-eye pr-2 text-dark"></i><span class="pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleViewCount)}"></span>
                                            <i class="fa fa-heart pr-2 text-danger"></i><span class="pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleLikeCount)}"></span>
                                            <i class="fa fa-comments-o pr-2 text-dark"></i><span class="pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleReplyCount)}"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="separator-2"></div>
                                <div class="contents-body">
                                    <div style="white-space:pre-line;" th:utext="${articleInfo.articleContents}"></div>
                                    <div class="d-flex flex-row align-items-center justify-content-center pt-3">
                                        <a href="javascript:void(0);" onclick="fnToggleLike()">
                                            <span class="py-3 article-box badge badge-info">
                                                <i class="mdi mdi-24px font-weight-bold" th:classappend="${articleLike.likeYn == 0 ? 'mdi-heart-outline'  : 'mdi-heart'}"></i><br>
                                                <span class="text-white font-weight-bold" style="font-size:0.8rem;" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleLikeCount)}"></span>
                                            </span>
                                        </a>
                                        <a href="#reply-area">
                                            <span class="py-3 ml-3 article-box badge badge-success">
                                                <i class="mdi mdi-24px mdi-comment-multiple-outline font-weight-bold"></i><br>
                                                <span class="text-white font-weight-bold" style="font-size:0.8rem;" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleReplyCount)}"></span>
                                            </span>
                                        </a>
                                        <a sec:authorize="hasRole('ROLE_MEMBER') or hasRole('ROLE_AUTHOR') or hasRole('ROLE_ADMIN')" href="javascript:void(0)" class="reportModalOpener" th:onclick="|fnCallReportArticleModal('Article', 'GENERAL', '${articleInfo.articleId}')|">
                                            <span class="py-3 ml-3 article-box badge badge-danger">
                                                <i class="mdi mdi-24px mdi-alarm-light font-weight-bold"></i><br>
                                                <span class="text-white font-weight-bold" style="font-size:0.8rem;">Report</span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="contents-footer pt-5">
                                    <div sec:authorize="hasRole('ROLE_MEMBER') or hasRole('ROLE_AUTHOR') or hasRole('ROLE_ADMIN')" class="reply-write-area">
                                        <div class="reply pt-2">
                                            <div class="reply-header container-fluid d-flex justify-content-between">
                                                <span class="font-weight-bold" sec:authentication="principal.userName"></span>
                                                <span style="margin-left:auto;"></span>
                                            </div>
                                            <form id="createReplyForm">
                                            <div class="reply-body input-group">
                                                <textarea class="form-control col-md-10" name="replyContents" id="replyContents" rows="3"></textarea>
                                                <button onclick="fnReply()" class="col-md-2 btn btn-sm btn-outline-info btn-fw"><i class="fa fa-pencil pr-2"></i>Reply</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="reply-area" id="reply-area"></div>
                                    <div class="reply-paging-area pt-3"></div>
                                </div>
                                <div class="listDivSection"></div>
                                <div class="row table-sm" th:each="article : ${articleList}">
                                    <div class="col-12 table-sm-tbody">
                                        <div class="row table-sm-tr">
                                            <div class="table-sm-td col-lg-8">
                                                <div class="table-sm-td-content">
                                                    <span class="badge badge-info fixed-badge align-middle">NOTICE</span>
                                                    <span class="table-sm-td-content">
                                                        <a th:href="@{/b/general/viewdetail/{articleId}(articleId = ${article.articleId}, size=${articleList.size}, page=${articleList.number})}" th:text="${article.articleTitle}"></a>
                                                    </span>
                                                    <div class="text-right pt-2 d-block d-lg-none d-xl-none">
                                                        <span class="" th:text="${article.articleWriterUserName}"></span>
                                                        <span class="text-muted">|</span>
                                                        <span class="" th:text="${#dates.format(article.articleWriteDatetime, 'yyyy-MM-dd')}"></span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="table-sm-td col-lg-2 table-sm-td-sep d-none d-lg-block d-xl-block"><div class="table-sm-td-content" th:text="${article.articleWriterUserName}"></div></div>
                                            <div class="table-sm-td col-lg-2 table-sm-td-sep d-none d-lg-block d-xl-block"><div class="table-sm-td-content" th:text="${#dates.format(article.articleWriteDatetime, 'yyyy-MM-dd')}"></div></div>
                                        </div>
                                    </div>
                                </div>
                                <nav>
                                    <ul
                                        class="pagination rounded-flat d-flex justify-content-center pagination-primary">
                                        <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>

                                        <th:block th:if="${articleList.totalPages > 0}" th:each="pageNumber : ${paging}">
                                        <li class="page-item" th:classappend="${pageNumber==articleList.number +1} ? active">
                                            <a class="page-link" th:href="@{/notice/viewmain(size=${articleList.size}, page=${pageNumber -1})}" th:text="${pageNumber}" ></a>
                                        </li>
                                        </th:block>

                                        <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


</body>

</html>
