<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ThymeleafCommonLayout}">
<head>
<title>Article List</title>
<script defer type="text/javascript">
    $(function() {
        fnRetrieveArticle();
    });
    var fnRetrieveArticle = function() {
        let searchForm = $("#searchForm");

        if (searchForm[0] == null) {
            return;
        }

        let url = "/v1/api/admin/article";
        var params = $("#searchForm").serializeObject();
        PromiseUtil.get(url, params)
        .then(JSON.parse)
        .then(function(d){
            if ($.fn.DataTable.isDataTable('#article-table')) {
                $('#article-table').DataTable().destroy();
            }
            fnCreateArticleTable(d.data.content)
        });
    }

    var fnCreateArticleTable = function(data) {
        var deleteYnStatus = {
            0 : [ 'Not Deleted', 'success' ],
            1 : [ 'Deleted', 'danger' ]
        };

        var publishYnStatus = {
            0 : [ 'Not Publish', 'danger' ],
            1 : [ 'Publish', 'success' ]
        };

        $('#article-table').dataTable(
                {
                    data : data,
                    "columns" : [ {
                        "data" : "tbComBoard"
                    }, {
                        "data" : "articleTitle"
                    }, {
                        "data" : "articleViewCount"
                    }, {
                        "data" : "articleWriteDatetime"
                    }, {
                        "data" : "articleModifyDatetime"
                    }, {
                        "data" : "articlePublishYn"
                    } , {
                        "data" : "articleDeleteYn"
                    } ],
                    order : [ [ 4, 'desc' ] ],
                    columnDefs : [ {
                        targets : [ 0 ],
                        width : 80,
                        className : 'text-center'
                    }, {
                        targets : [ 1 ],
                        width : 180
                    }, {
                        targets : [ 2, 5, 6 ],
                        width : 80,
                        className : 'text-center'
                    } ],
                    searching : false,
                    createdRow : function(row, data, index) {
                        $('td', row).eq(0).html('').append(
                                data["tbComBoard"]["boardName"]);

                        $('td', row).eq(1).html('').append(
                                '<a class="dt-alink" href="/admin/article/viewupdate/'+data["articleId"]+'">'
                                + data["articleTitle"] + '</a>');

                        $('td', row).eq(2).html('').append(
                                data["articleViewCount"]);

                        $('td', row).eq(3).html('').append(
                                data["articleWriteDatetime"]);

                        $('td', row).eq(4).html('').append(
                                data["articleModifyDatetime"]);

                        $('td', row).eq(5).html('').append(
                                '<label class="badge badge-' + publishYnStatus[data["articlePublishYn"]][1] + '">'
                                        + publishYnStatus[data["articlePublishYn"]][0]
                                        + '</label>');

                        $('td', row).eq(6).html('').append(
                                '<label class="badge badge-' + deleteYnStatus[data["articleDeleteYn"]][1] + '">'
                                        + deleteYnStatus[data["articleDeleteYn"]][0]
                                        + '</label>');
                    }
                });
    }
</script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <h2>ARTICLE LIST</h2>
                                    <a href="/admin/article/viewcreate" class="btn btn-sm btn-outline-info btn-fw mt-3"><i class="fa fa-plus-circle pr-2"></i>Create</a>
                                </div>
                                <div class="separator-2"></div>
                                <div class="wrapper d-flex align-items-center py-3">
                                    <form class="forms-sample w-100 mr-5" id="searchForm">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <label>Board Name</label> <input type="text" name="authCode" class="form-control">
                                            </div>
                                            <div class="col-md-4">
                                                <label>Deleted YN</label> <select class="form-control" name="useYn">
                                                    <option value="">All</option>
                                                    <option th:each="code : ${codeUseYn}" th:value="${code.codeValue}" th:text="${code.codeName}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="ml-auto px-1 py-1">
                                        <button class="btn btn-info mt-3 mb-4" onClick="fnRetrieveArticle()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12">
                                <table id="article-table" class="table table-hover table-condensed table-fixed" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Board Name</th>
                                            <th>Title</th>
                                            <th>View Count</th>
                                            <th>Written at</th>
                                            <th>Modified at</th>
                                            <th>Publish Yn</th>
                                            <th>Deleted Yn</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
