<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ThymeleafCommonLayout}">
<head>
<title>Auth List</title>
<script defer th:src="@{/vendors/isotope/imagesloaded.pkgd.min.js}"></script>
<script defer th:src="@{/vendors/isotope/isotope.pkgd.min.js}"></script>
<script defer th:src="@{/vendors/liverty-admin/js/owl-carousel.js}"></script>
<script defer type="text/javascript">
    $(function() {
        fnRetrieveAuth();
    });
    var fnRetrieveAuth = function() {
        let searchForm = $("#searchForm");

        if (searchForm[0] == null) {
            return;
        }

        let url = "/v1/api/admin/auth";
        $.ajax({
            type : "GET",
            data : $("#searchForm").serializeObject(),
            url : url
        }).done(function(result) {
            if ($.fn.DataTable.isDataTable('#auth-table')) {
                $('#auth-table').DataTable().destroy();
            }
            console.log(result);
            fnCreateAuthTable(result.content)
        }).fail(function(error) {
            alert("error");
            console.log(error);
        });

    }

    var fnCreateAuthTable = function(data) {
        var useYnStatus = {
            0 : [ 'Disuse', 'danger' ],
            1 : [ 'Use', 'success' ]
        };

        $('#auth-table').dataTable(
                {
                    data : data,
                    "columns" : [ {
                        "data" : "authName"
                    }, {
                        "data" : "authCode"
                    }, {
                        "data" : "authId"
                    }, {
                        "data" : "createDatetime"
                    }, {
                        "data" : "useYn"
                    } ],
                    order : [ [ 3, 'desc' ] ],
                    columnDefs : [ {
                        targets : [ 4 ],
                        width : 80,
                        className : 'text-center'
                    } ],
                    searching : false,
                    createdRow : function(row, data, index) {
                        $('td', row).eq(0).html('').append(
                                '<a class="dt-alink" href="/admin/auth/viewupdate/'+data["authId"]+'">'
                                + data["authName"] + '</a>');

                        $('td', row).eq(1).html('').append(
                                '<a class="dt-alink" href="/admin/auth/viewupdate/'+data["authId"]+'">'
                                + data["authCode"] + '</a>');

                        $('td', row).eq(2).html('').append(
                                data["tbComUsers"] != null ? data["tbComUsers"].length : 0);

                        $('td', row).eq(3).html('').append(
                                data["createDatetime"]);

                        $('td', row).eq(4).html('').append(
                                '<label class="badge badge-' + useYnStatus[data["useYn"]][1] + '">'
                                        + useYnStatus[data["useYn"]][0]
                                        + '</label>');
                    }
                });
    }
</script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex justify-content-between">
                                    <h2>AUTH LIST</h2>
                                    <a href="/admin/auth/viewcreate" class="btn btn-sm btn-outline-info btn-fw mt-3"><i class="fa fa-plus-circle pr-2"></i>Create</a>
                                </div>
                                <div class="separator-2"></div>
                                <div class="wrapper d-flex align-items-center py-3">
                                    <form class="forms-sample w-100 mr-5" id="searchForm">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <label>Auth Code</label> <input type="text" name="authCode" class="form-control">
                                            </div>
                                            <div class="col-md-4">
                                                <label>Auth Name</label> <input type="text" name="authName" class="form-control">
                                            </div>
                                            <div class="col-md-4">
                                                <label>Use YN</label> <select class="form-control" name="useYn">
                                                    <option value="">All</option>
                                                    <option value="1">Yes</option>
                                                    <option value="0">No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="ml-auto px-1 py-1">
                                        <button class="btn btn-info mt-3 mb-4" onClick="fnRetrieveAuth()">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12 table-responsive">
                                <table id="auth-table" class="display table table-hover table-condensed" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Auth Name</th>
                                            <th>Auth Code</th>
                                            <th>Number of Users</th>
                                            <th>Created at</th>
                                            <th>Use Yn</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
