<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ThymeleafCommonLayout}">

<head>
    <script defer th:src="@{/vendors/tinymce/tinymce.min.js}"></script>
    <script defer th:src="@{/vendors/tinymce/themes/modern/theme.js}"></script>
    <script defer th:src="@{/vendors/summernote/dist/summernote-bs4.min.js}"></script>
    <script defer th:src="@{/vendors/liverty-admin/js/template.js}"></script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12">
                                <h2>Title of New Article</h2>
                                <div class="header wrapper d-flex align-items-center py-2">
                                    <img class="img-sm rounded-circle"
                                        src="https://placehold.it/100x100" alt="profile">
                                    <div class="wrapper ml-3">
                                        <div class="ml-1">
                                            <h6>NAME OF WRITER</h6>
                                        </div>
                                        <div class="ml-1">
                                            <small class="text-muted mb-0"><i
                                                class="fa fa-calendar-o pr-2"></i><span>2020-02-24</span></small>
                                            <small class="text-muted mb-0"><i
                                                class="fa fa-clock-o pr-2"></i><span>3 mins
                                                    ago</span></small> <small class="text-muted mb-0"><i
                                                class="fa fa-map-marker mr-1"></i><span>South
                                                    Korea</span></small>
                                        </div>
                                    </div>
                                    <div class="ml-auto px-1 py-1">
                                        <i class="fa fa-eye font-weight-bold pr-2 text-dark"></i><span
                                            class="font-weight-bold pr-2">12,382</span> <i
                                            class="fa fa-heart font-weight-bold pr-2 text-danger"></i><span
                                            class="font-weight-bold pr-2">2,409</span> <i
                                            class="fa fa-comments-o font-weight-bold pr-2 text-dark"></i><span
                                            class="font-weight-bold pr-2">132</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <pre style="white-space: pre-line;">
                          <h4>The standard Lorem Ipsum passage, used since the 1500s</h4>
                                    <img src="https://placehold.it/300x300" class="ml-2 mb-2 w-25"
                                            alt="sample image">
                                    <p class="text-justify">
                                        <span style="font-size: 18px;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit involuptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span>
                                    </p>
                                    <span style="font-size: 18px;"></span>
                                    <p class="text-justify">
                                        <span style="font-size: 18px;">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventoreveritatis et quasi architecto beatae vitaedicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequunturmagni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisiut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</span>
                                    </p>
                        </pre>
                                </div>
                                <div
                                    class="d-flex flex-row align-items-center justify-content-center">
                                    <a href="#">
                                        <div class="p-3 badge badge-info">
                                            <i class="fa fa-heart-o fa-2x font-weight-bold"></i>
                                        </div>
                                    </a>
                                    <div class="ml-3 px-2">
                                        <h6 class="text-info">2,409 Likes</h6>
                                        <p class="mt-2 text-muted card-text">Thank you for
                                            loving the article!</p>
                                    </div>
                                    <a href="#">
                                        <div class="p-3 badge badge-success">
                                            <i class="fa fa-comments-o fa-2x font-weight-bold"></i>
                                        </div>
                                    </a>
                                    <div class="ml-3">
                                        <h6 class="text-success">132 Comments</h6>
                                        <p class="mt-2 text-muted card-text">Check comments on
                                            this article!</p>
                                    </div>
                                </div>
                                <div class="separator"></div>
                                <div class="header wrapper d-flex align-items-center py-2">
                                    <img class="img-lg rounded-circle"
                                        src="https://placehold.it/100x100" alt="profile">
                                    <div class="wrapper ml-3">
                                        <div class="ml-1 mb-1">
                                            <span>WRITTEN BY</span>
                                        </div>
                                        <div class="ml-1 mb-1">
                                            <h4>NAME OF WRITER</h4>
                                        </div>
                                        <div class="ml-1 mb-1">
                                            <small class="text-muted mb-0"><span>Short
                                                    description</span></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


</body>

</html>
