<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ThymeleafCommonLayout}">

<head>
    <link rel="stylesheet" th:href="@{/vendors/summernote/dist/summernote-bs4.css}">
    <script defer th:src="@{/vendors/summernote/dist/summernote-bs4.min.js}"></script>
    <script defer type="text/javascript">
    $(function() {
        var params = $("#articleContents").initSummernote("blog");
        var drEvent = $('.dropify').dropify({
            error: {
                'minWidth': 'The image width is too small. Only 1300 x 960 images allowed.',
                'maxWidth': 'The image width is too big. Only 1300 x 960 images allowed..',
                'minHeight': 'The image height is too small. Only 1300 x 960 images allowed..',
                'maxHeight': 'The image height is too big. Only 1300 x 960 images allowed..',
                'imageFormat': 'The image format is not allowed ({{ value }} only).'
            }
        });
    });

    function fnSaveRequest() {

    }

    function fnTempSave() {
        var formData = new FormData();
        formData.append("blogUploadFile", $('input[type=file]')[0].files[0]);
        let url = "/v1/api/file/blog";
        PromiseUtil.postWithFile(url, formData)
        .then(JSON.parse)
        .then(function(d){
            var params = $("#baseForm").serializeObject();
            params.articleContents = $("#articleContents").summernote('code');
            params.thumbnailFileId = d[0].fileId;
            PromiseUtil.post("/v1/api/blogs", params)
            .then(JSON.parse)
            .then(function(d){
            });
        });
    }
    </script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12">
                                <h2>BLOG WRITING</h2>
                                <div class="separator-2"></div>
                                <form id="baseForm">
                                    <div class="form-group">
                                        <label for="diaryCategory">Blog Category</label>
                                        <label for="boardId">Category</label>
                                        <select class="form-control" name="articleCategoryCv" id="articleCategoryCv">
                                            <option th:each="blogArticleCategory : ${blogArticleCategoryList}" th:value="${blogArticleCategory.codeValue}" th:text="${blogArticleCategory.codeName}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Title</label>
                                        <input type="text" class="form-control" id="articleTitle" name="articleTitle" placeholder="Title">
                                    </div>
                                    <div class="form-group">
                                        <label for="blogUploadFile">Thumbnail(1300 x 960 Recommended)</label>
                                        <input type="file" id="blogUploadFile" class="dropify" data-allowed-formats="landscape" data-min-width="1299" data-min-height="959" data-max-width="1301" data-max-height="961" data-allowed-file-extensions="png jpg jpeg"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="summary">Summary</label>
                                        <textarea class="form-control" id="articleSummary" name="articleSummary" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="articleContents">Contents</label>
                                        <div id="articleContents"></div>
                                    </div>
                                </form>

                                <div class="container-fluid w-100">
                                    <a href="#" class="btn btn-primary float-right mt-4 ml-2" onclick="fnSaveRequest()">Request Publishing</a>
                                    <a href="#" class="btn btn-success float-right mt-4 ml-2" onclick="fnTempSave()">Temporary Save</a>
                                    <a href="#" class="btn btn-danger float-right mt-4 ml-2">Delete</a>
                                    <a href="#" class="btn btn-secondary float-right mt-4">List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
