<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ThymeleafCommonLayout}">
<head>
    <title>Blog</title>
    <script defer th:src="@{/vendors/isotope/imagesloaded.pkgd.min.js}"></script>
    <script defer th:src="@{/vendors/isotope/isotope.pkgd.min.js}"></script>
    <script defer type="text/javascript">
    $(function() {
    });
    
	</script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12">
                                <h2>BLOG</h2>
                                <p class="lead">Meet real experience and daily life of Malaysian-Korean Couples.</p>
                                <div class="separator-2"></div>
                            </div>
                        </div>
                        <div class="wrapper d-flex align-items-center py-2">
                            <form class="forms-sample w-100 mr-5" id="searchForm">
                                <div class="form-group row col-12 col-md-6">
                                    <div class="col-4 pr-1">
                                        <label>Category</label>
                                        <select class="form-control" name="articleCategoryCv" id="articleCategoryCv" th:onchange="'searchArticleByCategory(\'blog\', this.value)'">
                                        	<option value="" selected>ALL</option>
                                            <option th:each="blogArticleCategory : ${blogArticleCategoryList}" th:value="${blogArticleCategory.codeValue}" th:text="${blogArticleCategory.codeName}" th:selected="${blogArticleCategory.codeValue == ARTICLECATEGORYCV}"></option>
                                        </select>
                                    </div>
                                    <div class="col-4 pl-1">
                                        <label>Show</label>
                                        <select class="form-control" id="size" name="size" th:field="${articleList.size}" th:onchange="'searchArticleBySize(\'blog\', this.value)'">
                                            <option th:each="articleNumber : ${articleNumber}" th:value="${articleNumber.codeValue}" th:text="${articleNumber.codeName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="masonry-grid row">
                            <div class="masonry-grid-item col-md-6 col-lg-4" th:each="blog : ${articleList}">
                                <!-- blogpost start -->
                                <article class="blogpost shadow-2 light-gray-bg bordered">
                                    <div class="overlay-container">
                                        <img class="w-100" th:src="@{${'/v1/api/file/img/' + blog.thumbnailFileId}}" alt="tab Preview">
	                                    <div class="card-img-overlay d-flex">
	                                        <div class="w-100">
	                                            <div class="badge badge-pill badge-info fixed-badge align-middle"  th:each="blogArticleCategory : ${blogArticleCategoryList}" th:object="${blogArticleCategory}" th:if="${blogArticleCategory.codeValue == blog.articleCategoryCv}" th:classappend="${'badge-'+blogArticleCategory.codeValue}" th:text="${blogArticleCategory.codeName}" style="padding: 0.2rem 0.5rem; font-size:0.8rem;"></div>
	                                        </div>
	                                    </div>
                                    </div>
                                    <header>
                                        <h2>
                                            <a class="diary-title-link" th:href="@{${'/blog/viewdetail/' + blog.articleId}}" th:text="${blog.articleTitle}"></a>
                                        </h2>
                                        <div class="post-info">
                                            <span class="post-date"> <i class="fa fa-calendar-o pr-1"></i><span class="day" th:text="${#fourtysixFormat.dateConverterToDateOrDateTime(blog.articleWriteDatetime)}"></span></span>
                                            <span class="submitted"><i class="fa fa-user pr-1 pl-1"></i><span th:text="${blog.articleBlogWriter.userName}"></span></span>
                                            <span class="comments"><i class="fa fa-comments-o pl-1 pr-1"></i><span th:text="${#fourtysixFormat.convertNumberFormat(blog.articleReplyCount)}"></span></span>
                                            <span class="likes"><i class="fa fa-heart pl-1 pr-1"></i><span th:text="${#fourtysixFormat.convertNumberFormat(blog.articleLikeCount)}"></span></span>
                                        </div>
                                    </header>
                                    <div class="blogpost-content">
                                        <p th:text="${blog.articleSummary}"></p>
                                    </div>
                                    <footer class="clearfix">
                                        <div class="link pull-right">
                                        </div>
                                    </footer>
                                </article>
                                <!-- blogpost end -->
                            </div>
                        </div>
                        <nav>
                            <ul
                                class="py-4 pagination rounded-flat d-flex justify-content-center pagination-primary">
                                <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>

                                <th:block th:if="${articleList.totalPages > 0}" th:each="pageNumber : ${paging}">
                                <li class="page-item" th:classappend="${pageNumber==articleList.number +1} ? active">
                                    <a class="page-link" th:href="@{/b/general/viewmain(size=${articleList.size}, page=${pageNumber -1})}" th:text="${pageNumber}" ></a>
                                </li>
                                </th:block>

                                <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
