<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ThymeleafCommonLayout}">

<head>
    <script defer th:src="@{/vendors/summernote/dist/summernote-bs4.min.js}"></script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12">
                                <div class="blog-header-img">
                                    <img th:src="@{${'/v1/api/file/img/' + articleInfo.thumbnailFileId}}" alt="Thumbnail" style="width:100%; max-height:520px;" >
                                </div>
                                <h2 class="pt-3" th:text="${articleInfo.articleTitle}"></h2>
                                <div class="header wrapper d-flex align-items-center py-2">
                                    <img class="img-sm rounded-circle" src="https://placehold.it/100x100" alt="profile">
                                    <div class="wrapper ml-3">
                                        <div class="ml-1">
                                            <h6 th:text="${articleInfo.articleWriterUserName}"></h6>
                                        </div>
                                        <div class="ml-1">
                                            <small class="text-muted mb-0"><i class="fa fa-calendar-o pr-2"></i><span th:text="${#fourtysixFormat.dateConverterToDateOrDateTime(articleInfo.articleWriteDatetime)}"></span></small>
                                            <small class="text-muted mb-0"><i class="fa fa-clock-o pr-2"></i><span>3 mins ago</span></small>
                                            <small class="text-muted mb-0"><i class="fa fa-map-marker mr-1"></i><span>South Korea</span></small>
                                        </div>
                                    </div>
                                    <div class="ml-auto px-1 py-1">
                                        <i class="fa fa-eye font-weight-bold pr-2 text-dark"></i><span class="font-weight-bold pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleViewCount)}"></span>
                                        <i class="fa fa-heart font-weight-bold pr-2 text-danger"></i><span class="font-weight-bold pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleLikeCount)}"></span>
                                        <i class="fa fa-comments-o font-weight-bold pr-2 text-dark"></i><span class="font-weight-bold pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleReplyCount)}"></span>
                                    </div>
                                </div>
                                <div class="body pt-5">
                                    <div style="white-space:pre-line;" th:utext="${articleInfo.articleContents}"></div>
                                    <div class="d-flex flex-row align-items-center justify-content-center">
                                        <a href="javascript:void(0);" onclick="fnToggleLike()">
                                            <span class="p-3 badge badge-info">
                                                <i class="fa fa-heart-o fa-2x font-weight-bold"></i>
                                            </span>
                                        </a>
                                        <div class="ml-3 px-2">
                                            <h6 class="text-info" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleLikeCount) + ' Likes'}"></h6>
                                            <p class="mt-2 text-muted card-text" th:if="${articleLike.likeYn == 1}">Thank you for loving the article!</p>
                                            <p class="mt-2 text-muted card-text" th:unless="${articleLike.likeYn == 1}">Would you like to give a Like to the article?</p>
                                        </div>
                                        <a href="#reply-area">
                                            <span class="p-3 badge badge-success">
                                                <i class="fa fa-comments-o fa-2x font-weight-bold"></i>
                                            </span>
                                        </a>
                                        <div class="ml-3">
                                            <h6 class="text-success" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleReplyCount) + ' Comments'}"></h6>
                                            <p class="mt-2 text-muted card-text">Check comments on this article!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="separator"></div>
                                <div class="header wrapper d-flex align-items-center py-2">
                                    <img class="img-lg rounded-circle"
                                        src="https://placehold.it/100x100" alt="profile">
                                    <div class="wrapper ml-3">
                                        <div class="ml-1 mb-1">
                                            <span>WRITTEN BY</span>
                                        </div>
                                        <div class="ml-1 mb-1">
                                            <h4 th:text="${articleInfo.articleWriterUserName}"></h4>
                                        </div>
                                        <div class="ml-1 mb-1">
                                            <small class="text-muted mb-0"><span>Short
                                                    description</span></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


</body>

</html>
