<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ThymeleafCommonLayout}" xmlns:sec="http://www.thymeleaf.org">

<head>
    <script defer type="text/javascript" th:inline="javascript">
    $(function() {
    });
    
    </script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12">
                                <div class="blog-header-img">
                                    <img th:src="@{${'/v1/api/file/img/' + articleInfo.thumbnailFileId}}" alt="Thumbnail" style="width:100%; max-height:520px;" >
                                </div>
                                <h2 class="pt-3" th:text="${articleInfo.articleTitle}"></h2>
                                <div class="header wrapper d-flex align-items-center py-2">
                                    <img class="img-sm rounded-circle" th:src="@{${'//graph.facebook.com/' + articleInfo.articleBlogWriter.snsId + '/picture'}}" alt="profile">
                                    <div class="wrapper ml-3">
                                        <div class="ml-1">
											<h6 th:text="${articleInfo.articleBlogWriter.userName}"></h6>
										</div>
                                        <div class="ml-1">
                                            <small class="text-muted mb-0"><i class="fa fa-calendar-o pr-2"></i><span th:text="${#fourtysixFormat.dateConverterToDateOrDateTime(articleInfo.articleWriteDatetime)}"></span></small>
                                            <small class="text-muted mb-0"><i class="fa fa-clock-o pr-2"></i><span th:text="${#fourtysixFormat.dateConverToTimeOrDate(articleInfo.articleWriteDatetime)}"></span></small>
                                        </div>
                                    </div>
                                    <div class="ml-auto px-1 py-1">
                                        <i class="fa fa-eye font-weight-bold pr-2 text-dark"></i><span class="font-weight-bold pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleViewCount)}"></span>
                                        <i class="fa fa-heart font-weight-bold pr-2 text-danger"></i><span class="font-weight-bold pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleLikeCount)}"></span>
                                        <i class="fa fa-comments-o font-weight-bold pr-2 text-dark"></i><span class="font-weight-bold pr-2" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleReplyCount)}"></span>
                                    </div>
                                </div>
                                <div class="contents-body pt-5">
                                    <div style="white-space:pre-line;" th:utext="${articleInfo.articleContents}"></div>
                                    <div class="d-flex flex-row align-items-center justify-content-center">
                                    
                                        <a href="javascript:void(0);" th:onclick="|fnToggleLike('blog', '${articleInfo.articleId}', '${articleLike.likeYn}')|">
                                            <span class="py-3 article-box badge badge-info">
                                                <i class="mdi mdi-24px font-weight-bold" th:classappend="${articleLike.likeYn == 0 ? 'mdi-heart-outline'  : 'mdi-heart'}"></i><br>
                                                <span class="text-white font-weight-bold" style="font-size:0.8rem;" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleLikeCount)}"></span>
                                            </span>
                                        </a>
                                        <a href="#reply-area">
                                            <span class="py-3 ml-3 article-box badge badge-success">
                                                <i class="mdi mdi-24px mdi-comment-multiple-outline font-weight-bold"></i><br>
                                                <span class="text-white font-weight-bold" style="font-size:0.8rem;" th:text="${#fourtysixFormat.convertNumberFormat(articleInfo.articleReplyCount)}"></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="separator"></div>
                                <div class="header wrapper d-flex align-items-center py-2">
                                    <img class="img-lg rounded-circle" th:src="@{${'//graph.facebook.com/' + articleInfo.articleBlogWriter.snsId + '/picture?type=large'}}"  alt="profile">
                                    <div class="wrapper ml-3">
                                        <div class="ml-1 mb-1">
                                            <span>WRITTEN BY</span>
                                        </div>
                                        <div class="ml-1 mb-1">
                                            <h4 th:text="${articleInfo.articleBlogWriter.userName}"></h4>
                                        </div>
                                        <div class="ml-1 mb-1">
                                            <small class="text-muted mb-0"><span>Short description</span></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="contents-footer pt-5">
                                    <div sec:authorize="hasRole('ROLE_MEMBER') or hasRole('ROLE_AUTHOR') or hasRole('ROLE_ADMIN')" class="reply-write-area">
                                        <div class="reply pt-2">
                                            <div class="reply-header container-fluid d-flex justify-content-between">
                                                <span class="font-weight-bold" sec:authentication="principal.userName"></span>
                                                <span style="margin-left:auto;"></span>
                                            </div>
                                            <form id="createReplyForm">
                                            <div class="reply-body input-group">
                                                <textarea class="form-control col-md-10" name="replyContents" id="replyContents" rows="3"></textarea>
                                                <button th:onclick="|fnReply('blog', '${articleInfo.articleId}')|" class="col-md-2 btn btn-sm btn-outline-info btn-fw"><i class="fa fa-pencil pr-2"></i>Reply</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="reply-area" id="reply-area"></div>
                                    <div class="reply-paging-area pt-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


</body>

</html>
