<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/ThymeleafCommonLayout}">
<head>
    <title>Blog</title>
    <script defer th:src="@{/vendors/isotope/imagesloaded.pkgd.min.js}"></script>
    <script defer th:src="@{/vendors/isotope/isotope.pkgd.min.js}"></script>
    <script defer th:src="@{/vendors/liverty-admin/js/owl-carousel.js}"></script>
    <script defer th:src="@{/vendors/liverty-admin/js/template.js}"></script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12">
                                <h2>BLOG</h2>
                                <div class="separator-2"></div>
                                <p class="lead">Meet real experience and daily life of
                                    Malaysian-Korean Couples.</p>
                            </div>
                        </div>
                        <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="dataTables_length" id="order-listing_length">
                                        <label>Show</label>
                                        <select class="form-control" id="size" name="size" th:field="${articleList.size}" onchange="fnReadList()">
                                            <option th:each="articleNumber : ${articleNumber}" th:value="${articleNumber.codeValue}" th:text="${articleNumber.codeName}"></option>
                                        </select> <label> entries</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div id="order-listing_filter"
                                        class="dataTables_filter form-group row">
                                        <label class="col-4"> <select
                                            name="order-listing_length"
                                            aria-controls="order-listing" class="form-control">
                                                <option value="title">제목</option>
                                                <option value="writer">작성자</option>
                                                <option value="contents">제목+내용</option>
                                        </select>
                                        </label>
                                        <div class="input-group col-8">
                                            <input type="text" class="form-control"> <span
                                                class="input-group-append">
                                                <button class="btn btn-info" type="button">Search</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="masonry-grid row">
                            <div class="masonry-grid-item col-md-6 col-lg-4" th:each="blog : ${articleList}">
                                <!-- blogpost start -->
                                <article class="blogpost shadow-2 light-gray-bg bordered">
                                    <div class="overlay-container">
                                        <img class="w-100" th:src="@{${'/v1/api/file/img/' + blog.thumbnailFileId}}" alt="tab Preview">
                                    </div>
                                    <header>
                                        <h2>
                                            <a class="diary-title-link" th:href="@{${'/blog/viewdetail/' + blog.articleId}}" th:text="${blog.articleTitle}"></a>
                                        </h2>
                                        <div class="post-info">
                                            <span class="post-date"> <i class="fa fa-calendar-o pr-1"></i><span class="day" th:text="${#fourtysixFormat.dateConverterToDateOrDateTime(blog.articleWriteDatetime)}"></span></span>
                                            <span class="submitted"><i class="fa fa-user pr-1 pl-1"></i><span th:text="${blog.articleWriterUserName}"></span></span>
                                            <span class="comments"><i class="fa fa-comments-o pl-1 pr-1"></i><span th:text="${#fourtysixFormat.convertNumberFormat(blog.articleReplyCount)}"></span></span>
                                            <span class="likes"><i class="fa fa-heart pl-1 pr-1"></i><span th:text="${#fourtysixFormat.convertNumberFormat(blog.articleLikeCount)}"></span></span>
                                        </div>
                                    </header>
                                    <div class="blogpost-content">
                                        <p th:text="${blog.articleSummary}"></p>
                                    </div>
                                    <footer class="clearfix">
                                        <div class="link pull-right">
                                        </div>
                                    </footer>
                                </article>
                                <!-- blogpost end -->
                            </div>
                        </div>
                        <nav>
                            <ul
                                class="py-4 pagination rounded-flat d-flex justify-content-center pagination-primary">
                                <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>

                                <th:block th:if="${articleList.totalPages > 0}" th:each="pageNumber : ${paging}">
                                <li class="page-item" th:classappend="${pageNumber==articleList.number +1} ? active">
                                    <a class="page-link" th:href="@{/b/general/viewmain(size=${articleList.size}, page=${pageNumber -1})}" th:text="${pageNumber}" ></a>
                                </li>
                                </th:block>

                                <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
