<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ThymeleafCommonLayout}">
<head>
<title>CodeGroup Create</title>
<script defer th:src="@{/vendors/isotope/imagesloaded.pkgd.min.js}"></script>
<script defer th:src="@{/vendors/isotope/isotope.pkgd.min.js}"></script>
<script defer th:src="@{/vendors/liverty-admin/js/owl-carousel.js}"></script>
<script defer th:src="@{/vendors/liverty-admin/js/select2.js}"></script>
<script defer type="text/javascript">

    function fnSave() {
        let url = "/v1/api/admin/codegroup";
        var params = $("#baseForm").serializeObject();
        PromiseUtil.post(url, params)
        .then(JSON.parse)
        .then(function(d){
        });
    }

</script>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card px-2">
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="col-12">
                                <h2>CODE GROUP CREATE</h2>
                                <div class="separator-2"></div>
                                <form id="baseForm">
                                    <div class="form-group">
                                        <label for="codeGroupValue">Code Group Value</label> <input type="text" class="form-control" name="codeGroupValue" id="codeGroupValue">
                                    </div>
                                    <div class="form-group">
                                        <label for="codeGroupName">Code Group Name</label> <input type="text" class="form-control" name="codeGroupName" id="codeGroupName">
                                    </div>
                                    <div class="form-group">
                                        <label for="useYn">Code Group Type</label> <select class="form-control" name="codeGroupType" id="codeGroupType">
                                            <option value="COMMON">Common</option>
                                            <option value="SYSTEM">System</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="includingCodes">Including Codes</label> <select name="tbComCodes.codeId" class="js-example-basic-multiple multi-select" multiple="multiple" style="width: 100%">
                                            <option th:each="unselectedCodes : ${unselectedCodeList}" th:value="${unselectedCodes.codeId}" th:text="${unselectedCodes.codeName}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="codeGroupDescription">Description</label>
                                        <textarea class="form-control" name="codeGroupDescription" id="codeGroupDescription" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="useYn">Use YN</label> <select class="form-control" name="useYn" id="useYn">
                                            <option th:each="code : ${codeUseYn}" th:value="${code.codeValue}" th:text="${code.codeName}"></option>
                                        </select>
                                    </div>
                                </form>

                                <div class="container-fluid w-100">
                                    <a href="javascript:void(0);" class="btn btn-success float-right mt-4 ml-2" onclick="fnSave()">Save</a> <a href="/admin/codegroup/viewmain" class="btn btn-secondary float-right mt-4">List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>
