<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ThymeleafFullLayout}">
<head>
<title>Login</title>
<script type="text/javascript">
$(function() {
	window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '214922212953960',
	      cookie     : true,
	      xfbml      : true,
	      version    : 'v2.8'
	    });

	    FB.AppEvents.logPageView();

	  };

	  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "https://connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
});

function facebookLogin() {
	FB.login(function(response) {
		if (response.status === 'connected') {
	        var params = {"facebookUserId" : response.authResponse.userId};
	        PromiseUtil.post("/v1/api/admin/auth", params)
	        .then(JSON.parse)
	        .then(function(d){
	        	alert("Saved successfully.");
	        	window.location.href = "/admin/auth/viewupdate/" + d.authId;
	        });

		} else if (response.status === 'connected') {

		} else {

		}
	}, {scope: 'public_profile,email'});
}
</script>
</head>
<body>
    <th:block layout:fragment="content">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100 mx-auto">
            <div class="col-lg-4 mx-auto">
                <div class="auto-form-wrapper">
                        <div class="form-group">
                            <button onclick="facebookLogin()" class="btn btn-primary submit-btn btn-block">Login</button>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="form-check form-check-flat mt-0">
                                <label class="form-check-label"> <input type="checkbox" class="form-check-input" checked> Keep me signed in
                                </label>
                            </div>
                        </div>
                        <div class="text-block text-center my-3">
                            <span class="text-small font-weight-semibold">Not a member ?</span> <a href="#" class="text-black text-small">Create new account</a>
                        </div>
                </div>
                <ul class="auth-footer">
                    <li><a href="#">Conditions</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
                <p class="footer-text text-center">
                    Copyright © 2020 <a href="https://bitnine.net/" target="_blank">Bitnine</a>. All rights reserved.
                </p>
            </div>
        </div>
    </div>
    </th:block>
</body>

</html>
