<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/ThymeleafFullLayout}">
<head>
<title>Login</title>
<script type="text/javascript">
$(function() {
	window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '214922212953960',
	      cookie     : true,
	      xfbml      : true,
	      version    : 'v2.8'
	    });

	    FB.AppEvents.logPageView();

	  };

	  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "https://connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
});

function facebookLogin() {
	FB.login(function(response) {
		if (response.status === 'connected') {
	        var params = {"userId" : response.authResponse.userId
	        			, "access_token" : response.authResponse.accessToken
    				};
	        PromiseUtil.post("/v1/api/login/f", params)
	        .then(JSON.parse)
	        .then(function(d){
            	if (["SUCCESS_REDIRECT_ALERT", "FAIL_REDIRECT_ALERT"].indexOf(d.resultCd) >= 0) {
            		window.location.href = d.linkUrl;
            		return;
            	}
	        	alert("Saved successfully.");
	        });

		} else if (response.status === 'connected') {

		} else {

		}
	}, {scope: 'public_profile,email', return_scopes: true});
}
</script>
</head>
<body>
    <th:block layout:fragment="content">
    <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100 mx-auto">
            <div class="col-lg-4 mx-auto">
                <div class="auto-form-wrapper">
                        <div class="form-group">
                            <button type="button" class="btn btn-fw btn-facebook submit-btn btn-block" onclick="facebookLogin()" ><i class="fa fa-facebook-official fa-2x"></i> <span style="font-size:1.33em; font-weight:bold;">Log in With Facebook</span></button>
                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <div class="form-check form-check-flat mt-0">
                                <label class="form-check-label"> <input type="checkbox" class="form-check-input" checked> Keep me signed in
                                </label>
                            </div>
                        </div>
                </div>
                <ul class="auth-footer">
                    <li><a href="#">Conditions</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>
                <p class="footer-text text-center">
                    Copyright © 2020 <a href="/" target="_blank">Fourtysix-Hundred</a>. All rights reserved.
                </p>
            </div>
        </div>
    </div>
    </th:block>
</body>

</html>
